@use './variables';

.painel {
    width: 95.1rem;

    .campo {
        display: inline-block;
        width: 100%;
        height: 440px;

        @media (max-width: 640px) {
            height: 300px;
            width: 420px;
            display: block;

        }

        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
             
        }

        .data--conte {
  background-color: variables.$corDoButton1;
  color: variables.$corDeFundoPrincipal;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;

  @media (max-width: 640px) {
    position: relative;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center; // centraliza horizontalmente
    padding-right: 2.6rem;
    font-size: .780rem;    // menor no mobile
    height: 60px;       // altura reduzida
    line-height: 1.2rem;
  }
}


    }
}